// base font size

$base-font-size: 1em;
$base-font-family: 'Lato', helvetica, arial, sans-serif;


// font variables

$font36: $base-font-size * 2.25;
$font34: $base-font-size * 2.125;
$font32: $base-font-size * 2;
$font30: $base-font-size * 1.875;
$font28: $base-font-size * 1.75;
$font26: $base-font-size * 1.625;
$font24: $base-font-size * 1.5;
$font22: $base-font-size * 1.375;
$font20: $base-font-size * 1.25;
$font18: $base-font-size * 1.125;
$font16: $base-font-size;
$font14: $base-font-size * .875;
$font12: $base-font-size * .75;
$font10: $base-font-size * .625;
