// base colors

$black: #000;
$white: #fff;
$red: #b00;
$green: #008000;

// gray variables

$gray5: #f2f2f2;
$gray10: #e5e5e5;
$gray15: #d9d9d9;
$gray20: #ccc;
$gray25: #bfbfbf;
$gray30: #b2b2b2;
$gray35: #a6a6a6;
$gray40: #999;
$gray45: #8c8c8c;
$gray50: #808080;
$gray55: #737373;
$gray60: #666;
$gray65: #595959;
$gray70: #4d4d4d;
$gray75: #404040;
$gray80: #333;
$gray85: #262626;
$gray90: #1a1a1a;


// main colors

$primary-color: #15828E;
$secondary-color: #d3420d;

$base-text-color: $gray90;
$base-background-color: $white;
$base-border-color: $gray50;
$base-table-color: $gray20;

$link-color: $primary-color;
$link-color-visited: darken($primary-color, 5%);
$link-color-focus: darken($primary-color, 10%);
$link-color-hover: darken($primary-color, 10%);
$link-color-active: $red;
